.card {
  position: relative;

  display: flex;
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;

  background: $bg-card;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.84);

  border-radius: 8px;
}

.card__button-close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 24px;
  height: 24px;

  svg {
    fill: $text-primary-light;
  }
}

.card__description {
  flex-grow: 1;
}

.card__commerce {
  width: 308px;
  flex-shrink: 0;
}

@media (max-width: $tablet-width) {
  .card {
    flex-direction: column;
    padding: 24px 29px;
  }

  .card__description {
    margin-bottom: 25px;
  }

  .card__commerce {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .card {
    padding: 24px 20px;
  }

  .card__description {
    margin-bottom: 21px;
  }
}
