.commerce {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 32px;

  border-left: 1px solid $border;
}

.commerce__wrapper {
  margin-bottom: 22px;
}

.commerce__head {
  margin: 0 0 2px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-primary-light;

  span {
    font-weight: 500;
    color: $text-info;
  }
}

.commerce__price {
  margin: 0 0 14px 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $text-primary;
}

.commerce__price-comparison {
  max-width: 193px;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-primary-light;

  span {
    font-weight: 500;
    color: $text-danger;
  }
}

.commerce__order-button {
  width: 100%;
  min-height: 44px;
  margin-top: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  border-radius: 6px;

  svg {
    margin-right: 10px;
  }
}

@media (max-width: $tablet-width) {
  .commerce {
    padding: 23px 0 0 0;

    border-left: none;
    border-top: 1px solid $border;
  }
}

@media (max-width: $mobile-width) {
  .commerce {
    padding: 20px 0 0 0;
  }

  .commerce__wrapper {
    margin-bottom: 15px;
  }

  .commerce__head {
    margin: 0;
  }

  .commerce__price {
    margin: 0 0 14px 0;

    font-size: 20px;
    line-height: 28px;
  }
}
