*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;

  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}
